<%@ taglib prefix="t" uri="http://threewks.com/thundr/tags" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="tags" tagdir="/WEB-INF/tags"%>
	</section>
	<footer>

	</footer>
</body>
</html>
